@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 100% 90%;
    --btn-background: 300 90% 87%;
    --btn-background-hover: 300 90% 82%;
    --foreground: 300 100% 40%;
  }

  /* from colormind.io/bootstrap */
  :root{
    /* theme colors */
    --light-shades: #e8e3e5;
    --light-shades-lighter: #ffffff;
    --light-shades-darker: #d1c7cb;

    --dark-shades: #171a1c;
    --dark-shades-lighter: #373e43;
    --dark-shades-darker: #090a0b;

    --main-brand: #64af9f;
    --main-brand-lighter: #80beb0;
    --main-brand-darker: #4e9b87;

    /* --light-accent: #52668c;
    --light-accent-lighter: #7286ac;
    --light-accent-darker: #3c4b67; */

    --light-accent: #676e79;
    --light-accent-lighter: #868c98;
    --light-accent-darker: #4b5058;

    /* --dark-accent: #5b4532;
    --dark-accent-lighter: #846448;
    --dark-accent-darker: #35281d; */

    --dark-accent: #4c4743;
    --dark-accent-lighter: #6e665e;
    --dark-accent-darker: #2c2826;

    /* button colors */
    --primary: #ECE8E4;
    --primary-lighter: #ffffff;
    --primary-darker:#D5CBC3;

    --info: #211C20;
    --info-lighter: #413940;
    --info-darker: #161316;

    --success: #539f5b;
    --success-lighter: #79b980;
    --success-darker: #3f7845;

    --warning: #d18f23;
    --warning-lighter: #E1AA51;
    --warning-darker: #9D6B1B;

    --danger: #f44336;
    --danger-lighter: #F88077;
    --danger-darker: #E91B0C;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 300 100% 8%;
      --btn-background: 300 60% 8%;
      --btn-background-hover: 300 60% 6%;
      --foreground: 300 100% 90%;
    }
  }
}

i.symbol {
  font-family: var(--font-family-symbols);
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

i.inline-symbol {
  display: contents;
  font-size: 1em;
}